.memberdiv .hrclass{
  width: 93% !important;
}
.searchMemBox{
  position: relative;
  top: -3px;
}
.searchMem{
  position: relative;
  top: 3px;
}
@media (max-width: 1199px){
  .memberdiv .hrclass{
    width: 90% !important;
  }
}
@media (max-width: 991px){
  .memberdiv .hrclass{
    width: 70% !important;
  }
}
