html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'kanitextralight';
   font-weight: 300;
   font-size: 16px;

}


/* --------- view more ----------- */

.viewall48update {
  font-family: 'kanitextralight';
  border: none;
  background-color: #f9b0d9;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 15px;
  display: inline-block;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 400;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 12px;
  border-radius: 23px;
  letter-spacing: 0.5px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.viewall48update:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.viewall48update:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 2px solid #f9b0d9;
  content: '';
  border-radius: inherit;
}
.viewall48update:hover,
.viewall48update.hover {
  background-color: #fab9de;
  color: #ffffff;
}
.viewall48update:hover:before,
.viewall48update.hover:before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.25;
}


/* --------- end view more ----------- */

/* ---------------- menu css -------------- */
/* Effect 16: fall down */
.cl-effect-16 a {
color: #6f8686;
text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.cl-effect-16 a::before {
color: #fff;
content: attr(data-hover);
position: absolute;
opacity: 0;
text-shadow: 0 0 1px rgba(255,255,255,0.3);
-webkit-transform: scale(1.2) translateX(0px) translateY(-10px) rotate(0deg);
-moz-transform: scale(1.2) translateX(0px) translateY(-10px) rotate(0deg);
transform: scale(1.2) translateX(0px) translateY(-10px) rotate(0deg);
-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
-moz-transition: -moz-transform 0.5s, opacity 0.5s;
transition: transform 0.5s, opacity 0.5s;
pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
opacity: 1;
}

.current >a{
  color: #fff !important;
}

/* ---------------- end menu css -------------- */


/* ------- menu --------- */

.btn-draw {
  position: relative;
  display: inline-block;
  color: #324577;
  cursor: pointer;
  overflow: hidden;
}


.btn-draw:after{
  content: '';
  position: absolute;
  right: 1px;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #fff !important;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition-delay: 0.4s;
}
.btn-draw:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background: #fff !important;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition-delay: 0.3s;
}

.btn-draw > div:before, .btn-draw > div:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  background: #fff !important;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
.btn-draw > div:before {
  height: 2px;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition-delay: 0.2s;
}
.btn-draw > div:after {
  height: 100%;
  width: 2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition-delay: 0.1s;
}
.btn-draw:hover:after,.btn-draw:hover:before, .btn-draw:hover > div:before, .btn-draw:hover > div:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.btn-draw:hover:after {
  transition-delay: 0s;
}
.btn-draw:hover:before {
  transition-delay: 0.1s;
}
.btn-draw:hover > div:before {
  transition-delay: 0.2s;
}
.btn-draw:hover > div:after {
  transition-delay: 0.3s;
}
.btn-draw:hover {
  color: #cb96c2 !important;
  background-color: #fff !important;
  transition-delay: 0.3s;
  border-radius: 5px;
}
.navbar-nav>li{
  padding: 2px;
}
.active > .btn-draw {
  color: #cb96c2 !important;
  background-color: #fff !important;
  border-radius: 5px;
}

/* --------- end menu --------- */

button, input, select, textarea{
  font-family: 'kanitextralight';
  font-size: 16px !important;
}
.slick-track{
  left: -5px !important;
}
.navbar-header{
  top: -7px;
  position: relative;
}
.licenterbnk48{
  position: relative;
  top: 17px;
}

.btn_backTop {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: #f9c5d0;
  color: #fff;
  z-index: 9999;
}
.hov{
  font-family: 'kanitmedium';
}
.btn_backTop:hover{
  border: 2px solid #fff;
  background-color: #cb96c2;
  color: #fff;
}

.margintop30{
  margin-top: 30px;
}
.nopadding{
  padding-left: 0px;
  padding-right: 0px;
}
.nomargin{
  margin-right: 0px;
  margin-left: 0px;
}
.nopadding-left{
  padding-left: 0px;
}
.nopadding-right{
  padding-right: 0px;
}
#loading {
    z-index: 5555;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.5);
}
.spinner {
  margin: 0;
  width: 70px;
  height: 18px;
  margin: -35px 0 0 -9px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.spinner>div {
  width: 18px;
  height: 18px;
  background-color: #c58ec3;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.0);
  }
  40% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#container {
   min-height:100%;
   position:relative;
   background-image: url(../img/BG_BNK.jpg);
   /* background-image: url(../images/group-50.png); */
   background-repeat: no-repeat;
   background-size: cover;
}
#header {
   background-image: url(../img/group-28.png);
   height: 70px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   z-index: 2;
   position: relative;
}
#body {
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#cb96c2;
}
.imgbg{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
.containerbg{
  z-index: 2;
  position: relative;
}
.bgHome{
  background-color: #fff;
  padding: 30px;
}
.navbar-default{
  background-color: #f8f8f800;
  border-color: #e7e7e700;
  position: relative;
  margin-top: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: #fff;
  background-color: #e7e7e700;
  font-size: 22px;
  font-weight: bold;
}



.navbar-default .navbar-nav>li>a{
  color: #e4c6e0;
}
/* .navbar-nav>li>a{
  line-height: 5px;
  font-size: 20px;
} */
.nav>li>a{
  padding: 15px 25px;
}

.footer{
  text-align: center;
  margin-top: 20px;
  color: #000;
}

.centerbnk48{
  background-image: url(../img/bnk48logo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 52px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  top: -12px;
}

/* .navbar-default .navbar-nav>li>a span{
  display: none;
} */
/* .navbar-default .navbar-nav>.active>a span,
.navbar-default .navbar-nav>.active>a:focus span,
.navbar-default .navbar-nav>.active>a:hover span{
  display: inline-block;
  position: absolute;
  font-size: 26px;
  opacity: 0.2;
  top: 0px;
  left: 0px;
  right: 0px;
} */

/* .navbar-default .navbar-nav>li>a:hover{
  color: #fff;
  background-color: #e7e7e700;

} */


.navbar-default .navbar-nav>li>.hov:hover {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}

/* @keyframes pulse {
  0% {
    text-shadow: 0 0 2em var(--hover);
  }
}
.navbar-default .navbar-nav>li>a {
--color: #fff;
--hover: #fff;
} */



#carousel3d .carousel-3d-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;

}
#carousel3d .carousel-3d-slide.current {
  background-color: #fff;
  color: #ddd;
  padding: 0px;
  border: 0px;
}
.carousel-3d-container{
  margin: 0px !important;
}

#carousel3d .carousel-3d-slide.current span {
  font-size: 20px;
  font-weight: 500;
}

.boxNews{
  background-color: #ffffff4a;
  padding: 15px 30px 15px 30px;
}
.txtYoutube{
  display: inline-block;
  width: 94.90%;
}
.boxYoutube{
  padding: 4px 15px 15px 15px;
  background-color: #ffffff4a;
  border-radius: 3px;
  margin-bottom: 20px;
}
.youtubeBox1 iframe{
  display: inline-block;
  width: 100%;
  height: 397px;
}
.youtubeBox2 iframe{
  display: inline-block;
  width: 100%;
  height: 123px;
}
.youtubeBox3 iframe{
  display: inline-block;
  width: 100%;
  height: 123px;
  margin-top: 8px;
}
.youtubeBox4 iframe{
  display: inline-block;
  width: 100%;
  height: 123px;
  margin-top: 8px;
}
.textYouoff{
  font-family: 'kanitextralight';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #884785;
  display: inline-block;
}
.textYouoffbox{
  border: 1px solid #884785;
  display: inline-block;
  background-color: #fff;
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  float: right;
  font-size: 12px;
  color: #C48FC2;
  top: -5px;
  position: relative;
}
.textYouoffbox:hover{
  border: 1px solid #884785;
  background-color: #884785;
  color: #fff;
}
.iconYoutube{
  font-size: 50px;
  display: inline-block;
  color: #C48FC2;
}
.imgYouoff{
  width: 100%;
  height: 190px;
}
.boxImgyouoff{
  margin-top: 7px;
}
.bdrightNews{
  width: 50%;
  /* margin-right: 10px; */

}
.bdleftNews{
  /* margin-left: 10px; */
  width: 50%;
}
.boxNewsDetails:hover{
  background-color: #F8CFE6;
}
.boxNewsDetailsx:hover{
  background-color: #F8CFE6;
}
.xxl{
  float: left;
}
.xxr{
  float: right;
}
.viewall48update{
  float: right;
  font-size: 12px;
  margin-top: 2px;
}


.txtbnk48update{
  padding: 0px 10px;
}
a:hover{
  text-decoration: none;
}
.txtNewshr{
  margin-top: -8px;
  position: relative;
  display: inline-block;
  font-family: 'kanitlight';
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #884785;
}
.hrclass{
  border-top: 1px solid #884785;
}
.hrclass48group{
  border-top: 1px solid #884785;
}

.grouptxt48{
  font-family: 'kanitextralight';
  font-size: 34px;
  font-weight: 300;
  font-style: normal;
  color: #884785;
  text-align: center;
}
.group48{
  margin-top: 30px;
  margin-bottom: 20px;
}
.group48Img{
  display: inline-block;
  margin: 10px 7px;
}
.group48Img img{
  width: 120px;
  height: 50px;
}

.group48Imgcen{
  text-align: center;
  margin-bottom: 45px;
}

.hrclassoff{
  border-top: 1px solid #884785;
  margin-top: 5px;
  margin-bottom: 5px;
}
.txtNews{
  margin-top: 30px;
  margin-bottom: -5px;
}
.boxNewsDetail{
  border-radius: 2px;
  margin-top: 10px;
}
.dateBox{
  padding: 5px 5px 5px 10px;
  display: inline-block;
  text-align: center;
  color: #fff;
  top: -27px;
  position: relative;
}
.dateBoxs{
  padding: 5px;
  display: inline-block;
  color: #7d4b75;
  min-width: 100px;
  position: relative;
  /* top: -5px; */
}
.boxPer{
  background-color: #ffffff4a;
}

.txt1{
  font-family: 'kanitextralight';
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.txt2{
  font-family: 'kanitextralight';
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.offnewsbox{
  border: 1px solid #cb96c2;
  background-color: #fff;
  padding: 2px 15px 2px 15px;
  display: inline-block;
  border-radius: 20px;
  font-size: 11px;
  margin-right: 10px;
  color: #cb96c2;
}
.nameNews{
  font-family: 'kanitextralight';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #4a4a4a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dateNews{
  font-family: 'kanitextralight';
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #86577e;
}
.newsnoti{
font-family: 'kanitextralight';
font-size: 14px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: 2.5;
letter-spacing: -0.1px;
color: #ff0523;
}
.boxNewsDetails{
  /* margin: 10px 0px; */
  height: 119.3px;
  padding-top: 16px;
}

.boxNewsDetailsx{
  /* margin: 10px 0px; */
  height: 95.3px;
  padding-top: 10px;
}
.green{
  float: none !important;
  color: #4fbd94;
}
.schtxteven{
  font-family: 'kanitextralight';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -0.2px;
  color: #4a4a4a;
  max-width: 400px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 73px;
  top: -5px;
}
.viewdetailschtxt{
  border: 1px solid #cb96c2;
  background-color: #fff;
  padding: 3px 10px 3px 10px;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
  color: #cb96c2;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  top: -5px;
}
.hrBox{
  border-bottom:  1px solid #f5c1ec;
}
.carousel-control {
  padding-top:10%;
  width:5%;
}
.boxMembers{
  background-color: #ffffff4a;
  padding: 16px 10px 7px 10px;
  margin-bottom: 20px;
}
.genselectMem{
  display: inline-block;
}


.searchMem{
  display: inline-block;
  text-align: right;
}
.viewmoreMem{
  border: 0px solid #884785;
  display: inline-block;
  background-color: #fff;
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  float: right;
  font-size: 12px;
  color: #884785;
  margin-right: 8px;
}
.btn{
  font-weight: 100;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
  background-color: #f8a9c6;
}
.viewmoreMem:hover{
  background-color: #d1d1d1;
  color: #fff;
}
.selectMemHome button{
  border: none;
}
.genselectMem .bootstrap-select{
  width: 150px !important;
}
.genselectMem .dropdown .dropdown-toggle{
  border-radius: 20px;
}
.searchMemIn{
  border-radius: 20px;
  padding: 6px 30px 6px 20px;
  border: none;
  font-size: 16px;
  color: #884785;
}
.form-control::-webkit-input-placeholder { color: #884785; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #884785; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #884785; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #884785; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #884785; }

.bootstrap-select .dropdown-toggle .filter-option-inner-inner{
  text-align: center;
  color: #884785;
}
.searchMem i{
  position: absolute;
  display: inline-block;
  margin-top: -25px;
  margin-left: -25px;
  color: #999;
}
.boxMemx{
  width: 173.4px;
  height: 242.5px;
  background-color: #fff;
  margin-bottom: 15px;
}
.boxMem{
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: -webkit-center;
}
.boxMemx:hover{
  width: 173.4px;
  height: 242.5px;
  background-color: #fff;
  margin-bottom: 10px;

}
.boxMemx:hover .ImgMem {
  /* opacity: 0.5; */
  border: 5px solid #935190;
}
.ImgMem{
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

/* .boxMemx:hover:after {
  opacity: 1;
  top: 70px;
} */

.boxMemx:after {
  content: url(../img/cookie-08.png);
  display: block;
  position: absolute;
  left: 40px;
  opacity: 0;
  top: 130px;

  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}

/* --- L --- */

.boxMemxL{
  width: 173.4px;
  height: 242.5px;
  background-color: #fff;
  margin-bottom: 10px;
}
.boxMemL{
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: -webkit-center;
}
.boxMemxL:hover{
  width: 173.4px;
  height: 242.5px;
  background-color: #fff;
  margin-bottom: 10px;

}
.boxMemxL:hover .ImgMemL {
  /* opacity: 0.5; */
  border: 5px solid #935190;
}
.ImgMemL{
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

/* .boxMemxL:hover:after {
  opacity: 1;
  top: 320px;
} */

.boxMemxL:after {
  content: url(../img/cookie-08.png);
  display: block;
  position: absolute;
  left: 40px;
  opacity: 0;
  top: 380px;

  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}


/* --- L --- */

/* div:after {
    content:" - positive!";
    position: relative;
    opacity: 0;
    top: -20px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
div:hover:after {
    opacity: 1;
    top: 0px;
} */

.boxSocial{
  background-color: #ffffff4a;
  padding: 15px 20px 10px 30px;
  margin-bottom: 20px;
}
.well{
  background-color: #f5f5f500;
  padding: 30px;
  border: none;
}
.dateper{
  font-family: 'kanitextralight';
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #fe7f9b;
  margin-top: 5px;
}
.timeper{
  font-family: 'kanitextralight';
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #fe7f9b;
}
.carousel-control.left,.carousel-control.right{
  background: none;
}
.boxperitem{
  background-color: #fff;
  padding: 10px;
  margin-right: 10px;
}
.boxSocialx{
  text-align: center;
  margin-bottom: 10px;
  width: 268px;
  height: 268px;
}
.selectMem{
  display: inline-block;
  position: absolute;
  left: 33px;
  bottom: 55px;
  cursor: pointer;
  width: 200px;
  height: 48px;
  background-image: url(/img/groupEven2.svg);
}
.selectMem:hover{
  background-image: url(/img/group-17-copy.png);
}
.boxNameIns{
  border: 1px solid #bb80b9;
  display: inline-block;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  position: absolute;
  left: 10px;
  bottom: 20px;
  background-color: #fff;
  color: #bb80b9;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.textcen{
  text-align: center;
}

.ImgSocial{
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.loadmore{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.loadmore button{
  border-color: #bb80b9;
  color: #bb80b9;
  background-color: #fff;
}
.loadmore button:hover,.loadmore button:focus,.loadmore button:active{
  border-color: #e8b6d2;
  color: #fff;
  background-color: #e8b6d2;
}
.boxAssImg{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.boxAss{
  margin-top: 70px;
  margin-bottom: 70px;
}
.boxdetailNews{
  display: inline-block;
  max-width: 80%;
}
.ImgInstarboxM{
  text-align: center;
  max-height: 400px;
  overflow: auto;
  padding: 20px;
}
.Boxschedulex{
  overflow: auto;
  padding: 20px;
}
.Membersfooter{
  text-align: center;
}
.txtTransform{
  text-transform: uppercase;
}
.MemSelect{
  display: inline-block;
  float: right;
  margin-right: 10px;
  color: #ff7c9b;
  border-color: #ff7c9b;
  font-family: 'kanitextralight';
  font-weight: 300;
}
.MemClear{
  display: inline-block;
  float: right;
  color: #ff7c9b;
  border-color: #ff7c9b;
  font-family: 'kanitextralight';
  font-weight: 300;
}

.MemSelect:hover,.MemSelect:active,.MemSelect:focus,.MemSelect:active:hover{
  display: inline-block;
  float: right;
  margin-right: 10px;
  color: #fff;
  border-color: #ff7c9b;
  font-family: 'kanitextralight';
  font-weight: 300;
  background-color: #ff7c9b;
  outline: none;
}
.MemClear:hover,.MemClear:active,.MemClear:focus,.MemClear:active:hover{
  display: inline-block;
  float: right;
  color: #fff;
  border-color: #ff7c9b;
  font-family: 'kanitextralight';
  font-weight: 300;
  background-color: #ff7c9b;
  outline: none;
}
.boxAssImgx{
  width: 280px;
  height: 95px;
}
.MemConf{
  background: #ff7c9b;
  border-color: #ff7c9b;
  border-radius: 7px;
  background-clip: padding-box;
  color: #fff;
  font-family: 'kanitextralight';
  font-weight: 300;
  min-width: 130px;
}
.MemDismiss{
  font-size: 14px;
  background-color: #facbd6;
  border-color: #facbd6;
  color: #fff;
  font-family: 'kanitextralight';
  font-weight: 300;
  min-width: 130px;
}
.MemConf:hover,.MemConf:active,.MemConf:focus,.MemConf:active:hover{
  background: #e06783;
  border-color: #e06783;
  border-radius: 7px;
  background-clip: padding-box;
  color: #fff;
  font-family: 'kanitextralight';
  font-weight: 300;
  min-width: 130px;
  outline: none;
}
.MemDismiss:hover,.MemDismiss:active,.MemDismiss:focus,.MemDismiss:active:hover{
  font-size: 14px;
  background-color: #f8b4c4;
  border-color: #f8b4c4;
  color: #fff;
  font-family: 'kanitextralight';
  font-weight: 300;
  min-width: 130px;
  outline: none;
}
.MemhText{
  display: inline-block;
  font-family: 'kanitextralight';
  font-weight: 300;
}
.selectMembersBox div .modal-header{
  border-bottom: 0px solid #e5e5e5;
}
.Membersfooter{
  border-top: 0px solid #e5e5e5;
}
.ImgInstarbox{
  width: 90px;
  height: 90px;
  display: inline-block;
}
.ImgInstar{
  border-radius: 100%;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  border: 5px solid #fff;
  background-position: 0 0 !important;
}
.ImgInstar:hover{
  border: 5px solid #eae8e8;
}
.nameInstarchk{
  display: none;
}
.nameInstar{
  font-family: 'kanitextralight';
  font-weight: 300;
}
.ImgInstarbox .active{
  border: 5px solid #e8c0e2;
}

.slick-prev:before {
  font-family: 'kanitextralight' !important;
  content: url(../img/arrow-left-simple-line-icons.png) !important;
  font-size: 35px !important;
  font-weight: normal;
  font-style: normal;
  opacity: 1!important;
}

.slick-next:before {
  font-family: 'kanitextralight' !important;
  content: url(../img/arrow-right-simple-line-icons.png) !important;
  font-size: 35px !important;
  font-weight: normal;
  font-style: normal;
  opacity: 1!important;
}
.timeper span{
  position: relative;
  float: right;
}
.timeper span .fa-times-circle{
  color: #e41515;
}
.timeper span .fa-check-circle{
  color: #417505;
}
a:focus{
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
  text-decoration: none;
}

.boxschdate{
  display: inline-block;
  border: 1px solid #63c19a;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  color: #63c19a;
  margin-left: 10px;
  margin-bottom: 10px;
}
.classEvensli{
  margin-top: 30px;
}
.boxperitem:focus,.boxperitemEven:focus{
  outline: none;
}
.boxperitemEven{
  cursor: pointer;
}
.boxperitemEven{
  background-image: url(../img/groupEven.png);
  width: 300px;
  height: 200px;
  text-align: left;
  color: #fff;
}
.textalignright{
  text-align: -webkit-right;
}

.classEven{
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  color: #884785;
}
.classEvendate{
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  color: #884785;
  margin-top: 30px;
}
.classboxschdate{
  margin-top: 20px;
}
.v1{
  border: 5px solid #c48fc2;
  border-radius: 0px;
}
.close i{
  color: #c48fc2;
}
.bdleftNews{
  border-left: 7px solid #fdeaee;
  padding: 10px 0px;
}

.bdrightNews{
  border-right: 7px solid #fdeaee;
  padding: 10px 0px;
}
.newsboxbg{
  background-color: #ffffff61;
}
.nodataperf{
  color: #f00;
  text-align: center;
}
.Membersx .hrclass{
  width: 82%;
  display: inline-block;
}
.Membersx div span{
  vertical-align: top;
}
.Socialx .hrclass{
  width: 72%;
  display: inline-block;
}
.Socialx div span{
  vertical-align: top;
}
.txthrbnk48update{
  color: #fe7f9b;
  font-size: 20px;
}
.Newsx .hrclass{
  width: 89%;
  display: inline-block;
}
.Newsx div span{
  vertical-align: top;
}
.Performancex .hrclass{
  width: 73%;
  display: inline-block;
}
.Performancex div span{
  vertical-align: top;
}
.divMemhome{
  padding-left: 10px;
  padding-right: 0px;
}
.imgborder{
  width: 100%;
}
.centerbnk48{
  position: relative;
  top: -18px;
}

.member-slide  > .slick-prev:before{
  margin-left: -20px;
}
.member-slide  > .slick-next:before{
  margin-left: 15px;
}

/* ----------- */

.nav>.hoverli>a{
  /* padding: 0px; */
  font-family: 'kanitmedium';
  font-size: 22px;
}
.navbar-nav>.hoverli{
  padding: 0px;
}
.navbar-default .navbar-toggle{
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}

.snip1143 {
text-align: center;
text-transform: uppercase;
/* font-weight: 500; */
}
.snip1143 * {
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
.snip1143 .hoverli {
display: inline-block;
list-style: outside none none;
margin: 0 1.5em;
overflow: hidden;
}
.snip1143 .hoverli a {
padding: 0.3em 0;
color: rgba(255, 255, 255, 0.5);
position: relative;
display: inline-block;
letter-spacing: 1px;
margin: 0;
text-decoration: none;
}
.snip1143 .hoverli a:before,
.snip1143 a:after {
position: absolute;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
.snip1143 .hoverli a:before {
top: 100%;
display: block;
height: 3px;
width: 100%;
content: "";
/* background-color: #884785; */
background-color: #fff;
}
.snip1143 .hoverli a:after {
padding: 0.3em 0;
position: absolute;
top: 100%;
left: 0;
content: attr(data-hover);
color: #fff;
white-space: nowrap;
}
.snip1143 .hoverli:hover a,
.snip1143 .current a {
transform: translateY(-100%);
}

/* ------------- */


@media (max-width: 1199px) {

  #header .container{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .imgborder{
    width: 100%;
    position: relative;
    top: 7px;
  }
  .bdleftNews{
    border-left:0px;
    border-top: 7px solid #fdeaee;
  }
  .bdrightNews{
    border-right:0px;
    /* margin-bottom: 20px; */
    border-bottom: 7px solid #fdeaee;
  }

  .divMemhome{
    text-align: center;
  }
  .boxMemx{
    display: inline-block;
    position: relative;
  }
  .boxMemxL{
    display: inline-block;
    position: relative;
  }
  .txtYoutube{
    width: 93%;
  }
  .bdrightNews{
    width: 100%;
    margin-right: 0px;

  }
  .bdleftNews{
    margin-left: 0px;
    width: 100%;
  }
  .Membersx .hrclass{
    width: 79%;
  }
  .Socialx .hrclass{
    width: 66%;
  }
  .Newsx .hrclass{
    width: 87%;
  }
  .Performancex .hrclass{
    width: 68%;
  }
  .schtxteven{
    max-width: none;
  }
  .nav>.hoverli>a{
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  .navbar-nav>li>a{
    font-size: 18px;
  }
}
@media (min-width: 1025px) {
    .navbar-header .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        top: -7px;
        position: relative;
    }
    .navbar-header{
      float: none;
    }

    .navbar-header .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .snip1143 .hoverli{
      margin: 0px;
    }
    .boxNewsDetails{
      padding-top: 6px;
    }
    .logosizemobile{
      display: inline-block !important;
    }
    .logosizemobile img{
      height: 35px;
      margin-left: 20px;
    }
    .snip1143 .hoverli a{
      padding: 1em 0;
    }
    .snip1143 .hoverli a:after{
      padding: 1em 0;
    }
    .snip1143 .hoverli a:before{
      top: 120%;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        margin-top: 50px
    }
    .navbar-toggle{
      display:block !important;
      padding: 10px 10px;
      margin-top: 0px;
      margin-right: 30px;
      margin-bottom: 25px;
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar-header {
        float:none;
        top: 0px;
    }
    .navbar-nav>li {
    padding: 0px;
    }
    .navbar-default .navbar-nav>.active>a span, .navbar-default .navbar-nav>.active>a:focus span, .navbar-default .navbar-nav>.active>a:hover span{
      display: none;
    }
    .navbar-default{
      margin-top: 20px;
    }
    #header {
       background-size: cover;
    }

}

@media (max-width: 1024px) {
  .licenterbnk48{
    display: none !important;
  }
  #header {
    height: auto;
  }
  #header .container{
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    border-radius: 0px;
  }
  .navbar {
    height: auto;
    border: 0px;
    margin-bottom: 0px;
  }
  .navbar-header>.navbar-collapse {
      width: 100%;
      padding: 0px;
      margin-right: 0px;
      margin-left: 0px;
      position: relative;
      z-index: 1;
      background-color: #cb96c2;
      margin-top: 50px;
  }
    .navbar-nav {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .nav > li.active {
    background-size: cover;
    width: 100%;
    height: 55px;
  }
  .navbar-nav>li>a {
    height: 54px;
    padding-left: 30px;
}
.nav > li {
    background-size: cover;
    width: 100%;
    height: 55px;
    border: solid 1px rgba(255, 255, 255, .5);
    border-top-width: 0px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-bottom: 0px;
}
.navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 10px;
}

}

@media (max-width: 991px) {
  .boxImgyouoff .nopadding{
    padding-left: 15px;
    padding-right: 15px;
  }
  .group48Imgcen br{
    display: none;
  }
  .homeInstagram .col-sm-6{
    text-align: center;
  }
  .boxSocialx{
    display: inline-block;
    position: relative;
  }
  .selectMem{
    left: 15px;
    bottom: 30px;
  }
  .boxNameIns{
    left: 20px;
    bottom: 10px;
  }
  .imgYouoff {
    height: auto;
  }
  .txtYoutube{
    width: 91%;
  }
  .Membersx .hrclass{
    width: 72%;
  }
  .Socialx .hrclass{
    width: 56%;
  }
  .Newsx .hrclass{
    width: 83%;
  }
  .Performancex .hrclass{
    width: 58%;
  }
  .boxMemx {
    width: 163.4px;
    height: 232.5px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .boxMemx:hover{
    width: 163.4px;
    height: 232.5px;
    background-color: #fff;
    margin-bottom: 10px;

  }
  .boxMemxL {
    width: 163.4px;
    height: 232.5px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .boxMemxL:hover{
    width: 163.4px;
    height: 232.5px;
    background-color: #fff;
    margin-bottom: 10px;

  }
  .xxr{
    float: none;
  }
}

@media (max-width: 767px) {
  .boxAssImg{
    margin-top: 10px;
  }
  .Membersx .col-xs-3{
    display: none;
  }
  .Performancex .col-xs-3{
    display: none;
  }
  .Newsx .col-xs-3{
    display: none;
  }
  .Socialx .col-xs-2{
    display: none;
  }
  .Membersx .hrclass{
    display: none;
  }
  .Socialx .hrclass{
    display: none;
  }
  .Newsx .hrclass{
    display: none;
  }
  .Performancex .hrclass{
    display: none;
  }
  .xxl{
    float: none;
  }
}
@media (max-width: 675px) {
  .txtYoutube{
    width: 100%;
  }
  .boxNewsDetailsx{
    height: auto;
  }
}

@media (max-width: 575px) {

  .homeInstagram .col-xs-6{
    width: 100%;
  }
  .youtubeBox .col-xs-8{
    width: 100%;
    padding-right: 15px;
  }
  .youtubeBox .col-xs-4{
    width: 100%;
  }
  .youtubeBox1 iframe{
    height: 250px;
  }
  .youtubeBox2 iframe{
    height: 250px;
  }
  .youtubeBox3 iframe{
    height: 250px;
  }
  .youtubeBox4 iframe{
    height: 250px;
  }
  /* .boxNewsDetails{
    height: auto;
  } */
  .boxdetailNews{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .dateBox{
    display: none;
  }
  .dateBoxs{
    display: block;
  }
  .txt1{
    display: inline-block;
  }
  .txt2{
    display: inline-block;
  }
  .viewdetailschbox{
    margin-bottom: 10px;
    margin-top: 5px;
  }


}
@media (max-width: 587px) {
  .boxMemx {
    width: 230px;
    height: 320px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .boxMemx:hover{
    width: 230px;
    height: 320px;
    background-color: #fff;
    margin-bottom: 10px;

  }
  .boxMemxL {
    width: 230px;
    height: 320px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .boxMemxL:hover{
    width: 230px;
    height: 320px;
    background-color: #fff;
    margin-bottom: 10px;

  }
}
@media (max-width: 550px) {

  .divMemhome{
    width: 100%;
  }
  .genselectMem{
    width: 100%;
    margin-bottom: 10px;
  }
  .viewmoreMem{
    position: relative;
    top: 7px;
  }
  .MemhText{
    margin-bottom: 10px;
    width: 100%;
  }
  .MemClear{
    width: 47%;
    float: none;
  }
  .MemSelect{
    width: 47%;
    float: none;
  }

}
@media (max-width: 525px) {
  .boxMemx {
    width: 160px;
    height: 220px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .boxMemx:hover{
    width: 160px;
    height: 220px;
    background-color: #fff;
    margin-bottom: 10px;

  }
  .boxMemxL {
    width: 160px;
    height: 220px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .boxMemxL:hover{
    width: 160px;
    height: 220px;
    background-color: #fff;
    margin-bottom: 10px;

  }
}
@media (max-width: 425px) {

  .group48Img img{
    width: 110px;
  }
  .boxImgyouoff .col-xs-4{
    width: 100%;
    margin-bottom: 20px;
  }
  .ImgInstarboxM .col-xs-4{
    padding-left: 0px;
    padding-right: 0px;
  }
  .Membersfooter{
    padding-left: 0px;
    padding-right: 0px;
  }
  .MemClear{
    width: 45%;
    font-size: 12px;
  }
  .MemSelect{
    width: 45%;
    font-size: 12px;
  }
  .viewmoreMem{
    margin-right: 0px;
  }
}
