#header .header-nav-main nav > ul > li > a{
	font-size: 20px
}
.css-selector {
	font-family: 'Kanit', sans-serif;
}
@font-face {
    font-family: 'Kanit';
    src: url('../fonts/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit-bold-webfont.woff') format('woff'),
         url('../fonts/kanit-bold-webfont.svg#kanitbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
