.boxnameMemhome{
  position: absolute;
  width: 173px;
  top: 200px;
  background: linear-gradient(1turn,#ffffff,rgba(255, 255, 255, 0.72));
  padding: 10px;
}
.nameMemhome{
  text-align: center;
  font-family: 'kanitextralight';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #af64a2;
  text-transform: uppercase;
}
.boxnameMemhomeL{
  position: absolute;
  width: 173px;
  bottom: 10px;
  background: linear-gradient(1turn,#ffffff,rgba(255, 255, 255, 0.72));
  padding: 10px;
}
.nameMemhomeL{
  text-align: center;
  font-family: 'kanitextralight';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #af64a2;
  text-transform: uppercase;
}
.boxMemx:hover .boxnameMemhome{
  display: none;
}
.boxMemxL:hover .boxnameMemhomeL{
  display: none;
}
.carousel-3d-slide{
  border-width: 0px !important;
}


.viewdetailschtxt:hover{
  background-color: #cb96c2;
  color: #fff;
}

@media (max-width: 1199px) {
.boxnameMemhomeL{
  bottom: 0px;
}
}

@media (max-width: 991px) {
  .boxnameMemhome{
    width: 163.4px;
    top: 189px;
  }
  .boxnameMemhomeL{
    width: 163.4px;
    bottom: -1px;
  }
}

@media (max-width: 587px) {
  .boxnameMemhome{
    width: 230px;
    top: 275px;
  }
  .boxnameMemhomeL{
    width: 230px;
    bottom: -1px;
  }
}
@media (max-width: 525px) {
  .boxnameMemhome{
    width: 160px;
    top: 177px;
  }
  .boxnameMemhomeL{
    width: 160px;
    bottom: -1px;
  }
}
